name: "DEV DEPLOY"

on:
  push:
    branches:
      - develop

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Download SSH Key from S3
        run: |
          curl -o deployer.pem ${{ vars.EC2_PRIVATE_KEY }}

      - name: Set permissions for the SSH key
        run: chmod 600 deployer.pem
    
      - name: Create SSH directory
        run: mkdir -p ~/.ssh

      - name: Add EC2 Host to known_hosts
        run: |
          ssh-keyscan -H "${{ vars.EC2_HOST }}" >> ~/.ssh/known_hosts

      - name: Deploy to EC2
        run: |
          ssh -i deployer.pem "ec2-user@${{ vars.EC2_HOST }}" << 'EOF'
            sudo su
            yum update -y
            amazon-linux-extras install docker -y
            service docker start
            usermod -a -G docker ec2-user
            docker ps
          EOF

